tbody tr td {
        transition: background-color 0.3s, transform 0.2s;
    }

    tbody tr td:hover {
        background-color: #1caa92; /* Amarelo destaque */
        transform: scale(1.1);
        cursor: pointer;
    }
 